header {
    background-color: #fff;
    text-align: center;
    .main-menu {
        list-style: none;
        li {
            display: inline-block;
            a {
                color: $link_main_color;
            }
        }
    }
}
