header {
    padding: 50px 0 0 0;
    background-color: #fff;
    text-align: center;
    .main-menu {
        list-style: none;
        li {
            display: inline-block;
            padding: 20px 0px;
            a {
                color: $link_main_color;
                padding: 20px 20px;
                transition: background-color 0.3s;
            }
            .active {
                background-color: $click_color;
            }
        }

    }
}
